*{  margin: 0;
    background-color: cornflowerblue;
}
header{
    display: flex;
    min-height: 70px;
    background-color: blueviolet;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav > a{
    font-weight: 600;
    padding-right: 20px;
}

nav > a:hover{
    color: aliceblue;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}


.contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
 }

.contenido1{
    padding: 5%;
    background-color: blueviolet;
    width: 430px;
    height: 600px;
}

.contenido2{
    border: solid 3px blueviolet;
    background-color: rgb(131, 170, 244);
    width: 1000px;
    height: 700px;
    margin-right: 100px;

}

.circulo{
    border: solid 3px blueviolet;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}